.heading-one-main-1 {
    background-color: #F6623E;
}
.header-one-main {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    width: 100%;
    justify-content: space-between;
}
.heading-first-desc {
    color: #fff;
    font-size: 16px;
    font-weight: 400;

}

.heading-two-desc {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-right: solid 1px #fff;
    padding-right: 15px;

}
.heading-country-logo >img{
  
    margin-left: 10px;
    width: 60%;
}   
.header-two-main{
    padding: 8px 0px;
}
.user-name{
    font-weight: 600;
    font-size: 16px;
}
.nav-link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: jost;
    text-transform: uppercase;
    color: #111 !important;
    padding: 0px 15px !important;
}
.active{
    color: #F6623E;
}
.for-mob{
    display: none;
}
.for-desktop{
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
button.navbar-toggler.collapsed {
    background: #f6623e;
}
button.navbar-toggler {
    background: #f6623e;
}
.me-auto {
    margin: 5px auto !important;
    margin-right: auto!important;
    display: flex;
    align-items: center;
}
.nav-link{
    margin-bottom: 7px;
}
@media only screen and (max-width: 600px) {
    .for-mob{
        display: block;
    }
    .for-desktop{
        display: none;
    }
  }