.main-box-section03{
    background-color: #FFF8F6;
}
.section03-heading{
    font-family: josh;
    font-weight: 600;
    font-size: 50px;
    line-height: 72px;        
    color: #F6623E;
}
.section-desc-alpha{
    font-family: josh;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #454545;
    padding-right: 0%;  

}
.sub-line{
    font-size: 18px;
    font-weight: 700;
    width: 80%;
    line-height: 2;
}
.form-control {
    display: block;
    width: 40% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: -3.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #F6623E;
    appearance: none;
    border-radius: 0px;
    margin-right: 0.5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.browser{
    background: transparent !important;
    border: solid 2px #F6623E !important;
    border-radius: 0px;
    margin-top: 0rem;
}